#  ____ _______ _____    _____ _____ ____
# |  _ \__   __/ ____|  / ____|_   _/ __ \
# | |_) | | | | (___   | (___   | || |  | |
# |  _ <  | |  \___ \   \___ \  | || |  | |
# | |_) | | |  ____) |  ____) |_| || |__| |
# |____/_ |_| |_____/_ |_____/|_____\____/ __   __ _____ _____
# |  ____/\   |_   _| |    | |    |  ____| \ \ / // ____/ ____|
# | |__ /  \    | | | |    | |    | |__     \ V /| (___| (___
# |  __/ /\ \   | | | |    | |    |  __|     > <  \___ \\___ \
# | | / ____ \ _| |_| |____| |____| |____   / . \ ____) |___) |
# |_|/_/    \_\_____|______|______|______| /_/ \_\_____/_____/
#
# Fichier de configuration du projet App
#

## << Config Database
DB_HOST=db
DB_SOCKET=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=app_db
## >> Config Database
