#  ____ _______ _____    _____ _____ ____
# |  _ \__   __/ ____|  / ____|_   _/ __ \
# | |_) | | | | (___   | (___   | || |  | |
# |  _ <  | |  \___ \   \___ \  | || |  | |
# | |_) | | |  ____) |  ____) |_| || |__| |
# |____/_ |_| |_____/_ |_____/|_____\____/ __   __ _____ _____
# |  ____/\   |_   _| |    | |    |  ____| \ \ / // ____/ ____|
# | |__ /  \    | | | |    | |    | |__     \ V /| (___| (___
# |  __/ /\ \   | | | |    | |    |  __|     > <  \___ \\___ \
# | | / ____ \ _| |_| |____| |____| |____   / . \ ____) |___) |
# |_|/_/    \_\_____|______|______|______| /_/ \_\_____/_____/
#
# Fichier de configuration du projet Hacker site
#

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=c1a91d89a6a2d214b23811d08914a31c
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:@db:3306/hacker_db?serverVersion=8&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='*'
###< nelmio/cors-bundle ###

STORAGE_PATH="../var/storage/"
